<div class="row m-t-50">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <form action="/signup" method="POST">
      <div class="form-group <%= typeof error != 'undefined' && error.name ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <input type="text" name="name" class="form-control" placeholder="name" value="<%= typeof user != 'undefined' && user.name ? user.name : '' %>">
        </div>
        <% if (typeof(error) != 'undefined' && error.name) { %>
          <label class="control-label"> <%= error.name %> </label>
        <% } %>
      </div>

      <div class="form-group <%= typeof error != 'undefined' && error.location ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-home"></i>
          </span>
          <input type="text" name="location" class="form-control" placeholder="location" value="<%= typeof user != 'undefined' && user.location ? user.location : '' %>">
        </div>
        <% if (typeof(error) != 'undefined' && error.location) { %>
          <label class="control-label">
            <%= error.location %>
          </label>
          <% } %>
      </div>

      <div class="form-group <%= typeof error != 'undefined' && error.musicStyle ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-music"></i>
          </span>
          <input type="text" name="musicStyle" class="form-control" placeholder="musicStyle" value="<%= typeof user != 'undefined' && user.musicStyle ? user.musicStyle : '' %>">
        </div>
        <% if (typeof(error) != 'undefined' && error.musicStyle) { %>
          <label class="control-label">
            <%= error.musicStyle %>
          </label>
          <% } %>
      </div>

      <div class="form-group <%= typeof error != 'undefined' && error.imgUrl ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-image"></i>
          </span>
          <input type="text" name="imgUrl" class="form-control" placeholder="imgUrl" value="<%= typeof user != 'undefined' && user.imgUrl ? user.imgUrl : '' %>">
        </div>
        <% if (typeof(error) != 'undefined' && error.imgUrl) { %>
          <label class="control-label">
            <%= error.imgUrl %>
          </label>
          <% } %>
      </div>

      <div class="form-group <%= typeof error != 'undefined' && error.email ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
          <input type="email" name="email" class="form-control" placeholder="email" value="<%= typeof user != 'undefined' && user.email ? user.email : '' %>">
        </div>
        <% if (typeof(error) != 'undefined' && error.email) { %>
          <label class="control-label">
            <%= error.email %>
          </label>
          <% } %>
      </div>

      <div class="form-group <%= typeof error != 'undefined' && error.password ? 'has-error' : '' %>">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-lock"></i>
          </span>
          <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <% if (typeof(error) != 'undefined' && error.password) { %>
          <label class="control-label"><%= error.password %></label>
        <% } %>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-primary">Signup</button>
      </div>
    </form>
  </div>
</div>
