<div>
  <h2> Edit evento </h2>
  <!--<% if (typeof(session) !== 'undefined') { %> -->
   <form action="/edit/<%= event._id %>" method="post" enctype="multipart/form-data">
      <div class="input-group">

          <input type="radio" name="concierto" value="conciertos"> Concierto
          <input type="radio" name="festival" value="festival"> Festival

      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <input type="text" name="nameTour" value="<%= event.nameTour %>">
      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <input type="text" name="artist" value="<%= event.artist %>">
      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <textarea name="description" rows="10" cols="50"> <%= event.description %> </textarea>
      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>

        <select class="typesStyle" name="typeStyle" multiple value="<%= event.eventsType %>">
          <% eventsType.forEach((type) => {%>
            <option value="<% type %>"> <%= type %>
          <% }) %>
        </select>

      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <input type="datetime-local" name="date" value="<%= event.eventDate %>">
      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <input type="text" name="venue" value="<%= event.venue %>">
      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <input type="text" name="location" value="<%= event.location %>">
      </div>

      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <input type="number" name="price" value="<%= event.price %>" step="0.01">
      </div>


      <div class="input-group">
        <span>
          <!--icono-->
        </span>
        <input type="file" name="pic" class="form-control-file" id="imgEvent">
      </div>



      <div>
        <button> Editar </button>
      </div>
    </form>
    <!--<% } %> -->
</div>
