<div>
  <div class = "row">
    <div class = "col-md-1">
      <button type="button" class="btn btn-primary navbar-btn" name="notifications">
      <span class="glyphicon glyphicon-bell"></span>
      </button>
    </div>
    <div class = "col-md-1">
      <a href="/event" class="btn btn-primary navbar-btn"> Crear Evento </a>
    </div>
    <div>
      <form class="form-search form-horizontal">
          <div class ="right">
              <input type="text" class="search-query" placeholder="Busca tu concierto">
              <button type="submit" class="btn btn-primary navbar-btn">
                <span class="glyphicon glyphicon-search"></span> Buscar
              </button>
          </div>
      </form>
    </div>
  </div>
    <% if (typeof(events) !== 'undefined'){ %>
      <% events.forEach((event) =>{ %>
        <div class="row panel panel-default">
          <div class="row panel-heading">
            <div class="col-md-2 imgEvent">
                <img class="img-responsive img-thumbnail" src="img/<%= event.imgEvent %>">
            </div>
            <div class="data">
              <p class="col-md-2"> <%= event.nameTour %> </p>
              <p class="col-md-2"> <%= event.artist %> </p>
              <p class="col-md-2"> <%= event.description %> </p>
            </div>
            <div class="links">
              <p class="col-md-2"><a href="/<%= event._id %>/edit"> Editar </a></p>
              <p class="col-md-2"><a href="/<%= event._id %>/delete"> Eliminar </a></p>
            </div>
          </div>
        </div>
      <% }); %>
    <% } %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    let userEvents;
    let fetched = false;
    const call = function(){
      $.ajax({
        url:'/events/all',
        type: 'get',
        success: function(userAndEvents){
          const firstMusicStyle = userAndEvents.user.musicStyle[0];
          const eventsArray = userAndEvents.events.filter(event => {
            return event.typeStyle.includes(firstMusicStyle);
          })
          if(!fetched) {
            return [eventsArray, true];
          }
          console.log(eventsArray, fetched);
        }
      })
    }
    var arr = call();
    console.log(arr)
    setInterval(call,2000);
  });
  </script>
